# Virtual Environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
# **/ ignore in any subdirectory
**/.ipynb_checkpoints/

# Data and Result files
data/
results/

# IDE specific files
.vscode/
.idea/